
sentences_test.txt
Aktuell vorhandene Funktionen.txt
__pycache__/hyphenate.cpython-37.pyc
__pycache__/tm.cpython-37.pyc
*.pyc
*.pyc
rfc_model_test.pkl
freq_per_doc.txt
freq_per_doc
freq_per_doc.json
freq_of_all_words.txt
all_docs.txt
__pycache__/tm.cpython-37.pyc
val_fehlend.txt
rfc_model_final.pkl
__pycache__/tm.cpython-37.pyc
