
sentences_test.txt
Aktuell vorhandene Funktionen.txt
*.pyc
freq_per_doc.txt
freq_per_doc
freq_per_doc.json
freq_of_all_words.txt
all_docs.txt
val_fehlend.txt
__pycache__/*
Models/*


Paper/*.aux
Paper/*.log
Paper/*.synctex.gz
data/*
src/.idea/inspectionProfiles/profiles_settings.xml
src/.idea/inspectionProfiles/Project_Default.xml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/src.iml
src/.idea/vcs.xml
